waitress== 2.1.2
beautifulsoup4==4.11.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz
en-ner-bionlp13cg-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bionlp13cg_md-0.5.1.tar.gz
Flask==2.2.2
Flask-Ext==0.1
Flask-Markdown==0.3
Flask-SQLAlchemy==3.0.2
gunicorn==20.1.0
joblib==1.2.0
numpy==1.21.6
pandas==1.3.5
PyPDF2==2.11.2
PyYAML==6.0
regex==2022.10.31
scikit-learn==1.0.2
scipy==1.7.3
scispacy==0.5.1
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.3
tqdm==4.64.1

